/* Style the chat container */
.chat-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 200px;
  }

  /* Style the user input box */
  .user-input {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
  }

  /* Style the user's message */
  .user-message {
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 0%;
    margin-left: 50%;
    width: fit-content;
    }

    /* Style the bot's message */
  .bot-message {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 0%;
    margin-right: 50%;
    width: fit-content;
    text-align: left;
    }
